<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyulu.mapper.HelpPageMapper">
    <select id="list" resultType="com.shiyulu.pojo.HelpPage">
        select mainpage.id,mainpage.username,user.nickname as name,mainpage.phone,mainpage.title,mainpage.content,mainpage.image,mainpage.type_id,mainpage.create_time,mainpage.update_time
        from mainpage left join user on mainpage.username = user.username
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.shiyulu.pojo.HelpPage">
        insert into mainpage
        (username, name, phone, title, content, image, type_id, create_time, update_time) values
        (#{username},#{name},#{phone},#{title},#{content},#{image},#{typeId},#{createTime},#{updateTime})
    </insert>

    <delete id="delete">
        delete from mainpage where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" resultType="com.shiyulu.pojo.HelpPage">
        select mainpage.id,mainpage.username,user.nickname as name,mainpage.phone,mainpage.title,mainpage.content,mainpage.image,mainpage.type_id,mainpage.create_time,mainpage.update_time
        from mainpage left join user on mainpage.username = user.username
        where mainpage.id = #{id}
    </select>

    <update id="update">
        update mainpage
        <set>
            <if test="username != null and username != '' ">
                username = #{username},
            </if>

            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="phone != null and phone != '' ">
                phone = #{phone},
            </if>
            <if test="title != null and title != '' ">
                title = #{title},
            </if>
            <if test="content != null and content != '' ">
                content = #{content},
            </if>
            <if test="image != null and image != '' ">
                image = #{image},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="page" resultType="com.shiyulu.pojo.HelpPage">
        select mainpage.id,mainpage.username,user.nickname as name,mainpage.phone,mainpage.title,mainpage.content,mainpage.image,mainpage.type_id,mainpage.create_time,mainpage.update_time
        from mainpage left join user on mainpage.username = user.username
        <where>
            <if test="typeId !=null ">
                mainpage.type_id = #{typeId}
            </if>

            <if test=" begin !=null and end !=null">
                and mainpage.create_time between #{begin} and #{end}
            </if>
        </where>
        order by mainpage.update_time desc
    </select>

    <select id="listByUsername" resultType="com.shiyulu.pojo.HelpPage">
        select mainpage.id,mainpage.username,user.nickname as name,mainpage.phone,mainpage.title,mainpage.content,mainpage.image,mainpage.type_id,mainpage.create_time,mainpage.update_time
        from mainpage left join user on mainpage.username = user.username
        where mainpage.username = #{username} order by mainpage.create_time asc
    </select>

    <select id="getLikeNumById" resultType="integer">
        select likeNumTable.likeNum from likeNumTable where likeNumTable.main_id = #{id};
    </select>

    <select id="getLikeUsersById" resultType="integer">
        select likeUserTable.user_id from likeUserTable where likeUserTable.main_id = #{id}
    </select>

    <update id="addLike">
        update likeNumTable set likeNumTable.likeNum = likeNumTable.likeNum + 1
        where likeNumTable.main_id = #{id}
    </update>

    <insert id="addLikeUser">
        insert into likeUserTable (main_id,user_id) values (#{id},#{u_id})
    </insert>

    <update id="cancelLike">
        update likeNumTable set likeNumTable.likeNum = likeNumTable.likeNum - 1
        where likeNumTable.main_id = #{id}
    </update>

    <delete id="cancelLikeUser">
        delete from likeUserTable where likeUserTable.main_id = #{id} and likeUserTable.user_id = #{u_id}
    </delete>

    <insert id="initLikeNum">
        insert into likeNumTable (main_id,likeNum) values (#{id},#{initNum})
    </insert>

    <delete id="dropLikeNum">
        delete from likeNumTable where likeNumTable.main_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="dropLikeUser">
        delete from likeUserTable where likeUserTable.main_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="hotest5" resultType="com.shiyulu.pojo.HelpPage">
        select mainpage.id,mainpage.username,user.nickname as name,mainpage.phone,mainpage.title,mainpage.content,mainpage.image,mainpage.type_id,mainpage.create_time,mainpage.update_time
        from mainpage left join likeNumTable on mainpage.id = likeNumTable.main_id
                      left join user on mainpage.username = user.username
        order by likeNumTable.likeNum desc, mainpage.create_time desc limit 5
    </select>

</mapper>